body {
  font-family: Tahoma;
  background: linear-gradient(63deg, #262626 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 73%, #262626 76%),
    linear-gradient(
      63deg,
      transparent 34%,
      #262626 38%,
      #262626 58%,
      transparent 62%
    ),
    #222;
  background-size: 16px 48px;
}

.link {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  display: flex;
  right: 50px;
  top: 7px;
}
.logospan {
  border: 3px solid #000000;
  border-radius: 6px;
}
#calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0px auto;
}

#calendar tr,
#calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

caption {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
  color: white;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  z-index: 9999;
  border: 3px solid #000000;
  box-shadow: 0px 0px 12px rgb(71, 24, 128);
  font-size: 24px;
}

@keyframes blink {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: ".";
  }
}

.loading::after {
  content: ".";
  animation: blink 1.5s infinite;
}

#calendar a {
  color: #8e352e;
  text-decoration: none;
}

#calendar td,
#calendar th {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

#calendar .weekdays {
  background: #8e352e;
}

#calendar .weekdays th {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: #fff;
  font-size: 13px;
}

.delete {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: white;
  color: red;
  padding: 5px 8px;
  border-radius: 50%;
  font-weight: 600;
  cursor: pointer;
}

.add {
  display: none;
  position: absolute;
  background-color: #2b5ad7;
  color: white;
  padding: 6px 9px;
  border-radius: 50%;
  font-weight: 600;
  cursor: pointer;
  top: 4px;
  right: 5px;
  border: 1px solid #c3c3c3;
}

.day {
  position: relative;
}
#calendar td.day.today {
  /* background: #194d33;*/
  background-image: linear-gradient(
    to right,
    rgba(101, 50, 148, 1),
    rgba(101, 50, 148, 0.2)
  );
}
#calendar td {
  min-height: 180px;
  display: flex;
  flex-direction: column;
}

#calendar .days li:hover {
  background: #d3d3d3;
}

#calendar .date {
  text-align: center;
  margin-bottom: 5px;
  padding: 4px;
  color: #fff;
  width: 20px;
  border-radius: 50%;
  flex: 0 0 auto;
  align-self: flex-end;
  border: 1px dashed;
  position: relative;
}

div.aud {
  display: flex;
  float: right;
  background: #9b378a;
  border-radius: 10px;
  padding: 3px 11px;
  color: white;
}

#calendar .event {
  flex: 0 0 auto;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  position: relative;
  line-height: 14px;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none;
  background: #343434;
}

#calendar td.day:hover .add {
  display: flex;
  z-index: 9999;
}

#calendar .event:hover .delete {
  display: flex;
  z-index: 9999;
}

#calendar .event-desc {
  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none;
  color: #dfdfdf;
}

#calendar .event-desc:hover {
  text-decoration: underline;
  cursor: pointer;
}

#calendar .event-time:hover {
  text-decoration: underline;
  cursor: pointer;
}

#calendar .aud:hover {
  text-decoration: underline;
  cursor: pointer;
}

#calendar .event-desc.ex {
  color: #fe9200;
  text-decoration: underline;
}

#calendar .other-month {
  background: #f5f5f5;
  color: #666;
}

.studentname {
  color: #eee;
}

.studentname:hover {
  color: white;
  text-decoration: underline;
}

@media (max-width: 768px) {
  #calendar .weekdays,
  #calendar .other-month {
    display: none;
  }

  #calendar li {
    height: auto !important;
    border: 1px solid #ededed;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
  }

  #calendar,
  #calendar tr,
  #calendar tbody {
    grid-template-columns: 1fr;
  }

  #calendar tr {
    grid-column: 1 / 2;
  }

  #calendar .date {
    align-self: flex-start;
  }

  .link {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    right: auto;
    top: auto;
  }
  .loading {
    font-size: 14px;
  }
}
